@model ProductsViewModel

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active"
               asp-action="ProductsByCategory"
               asp-controller="Products"
               asp-route-categoryId="@Model.CategoryId"
               asp-route-categoryName="@Model.CategoryName">
                Всички
            </a>
            @foreach (var item in Model.SubCategories)
            {
                <a class="list-group-item list-group-item-action"
               asp-action="ProductsByCategory"
               asp-controller="Products"
               asp-route-categoryId="@Model.CategoryId"
               asp-route-categoryName="@Model.CategoryName"
               asp-route-subCategoryId="@item.Id"
               asp-route-subCategoryName="@item.Name">
                    @item.Name
                </a>
            }
        </div>
    </div>
    <div class="vr"></div>
    <div class="col-md-9 col-lg-9 col-sm-12">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var item in Model.SubCategories)
            {
                <div class="col">
                    <div class="card">
                        <img src="@item.ImageUrl" class="card-img-top card-height card-border p-2" alt="@item.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>